# Logs
logs
*.log
npm-debug.log*
*.txt

# Dependency directories
node_modules/

# Build output dir
dist/

# Test data
coverage/
.coveralls.yml
test/e2e/reports
test/e2e/shots/

# NPM related files
*.tgz